src/main/mule/implemantations/Get_Data_by_id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\data\(student_id):practice-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="student_id">attributes.uriParams.'student_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="0df8b49b-913a-4eb0-80db-440c7f593ff8" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from students where student_id=:student_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"student_id":vars.student_id
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="40e3d08e-92bc-43ee-978e-89c741ece16c" >
			<when expression="#[sizeOf(payload)&gt;0]" >
				<ee:transform doc:name="Transform Message" doc:id="26bf770d-c5b4-4c7f-89a5-d45620da103d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"student_id":payload[0].STUDENT_ID,
	"student_name":payload[0].STUDENT_NAME,
	"student_email":payload[0].STUDENT_EMAIL
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="b8c36231-48a2-4bc7-9366-8266e30c0376" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"The given student_id does not exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
	</mule>
